body{
    background-color: #585858
}
.navlink{
    color: #585858 !important
}
a.active{
    color: #585858 !important
}
a {
    color: #585858 !important
}
.navlink:focus{
    color: #585858 !important
}


.appbar{
    background-color: red
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
}


.wrapper{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%,-50%);
}

.container{
  position: relative;
  padding: 20px 50px;
}

.input{
  caret-color: red;
  width: 500px;
  border: 3px solid red;
  background: transparent;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: Roboto;
  text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}

.close-btn{
  
  cursor: pointer;
  color: #585858;
  background: red;
  margin: -124px;
  border: 0px;
  width: 120px;
  height: 55px;
  border-radius: 50px;
  outline: none; 
  text-transform: uppercase;
  font-weight: bold;
  
}

.close-btn:hover{
    background-color: rgba(255, 0, 0, 0.9)
    
}

.close-btn:active{
    background-color: rgba(255, 0, 0, 0.8)
    
}
